//-------------------------------------------------------------------------------
  @name: Testimonials
  -------------------------------------------------------------------------------//

//testimonials-item
.testimonials__item
  .testimonials__box
    .testimonials__head
      .testimonials__avatar
        ='\n'
        img.testimonials__avatar__el(src='assets/img/dummy/'+data.avatar, alt=data.name)/
      .testimonials__txt
        h5.testimonials__name
          | !{data.name}
        h6.testimonials__position
          | !{data.position}
    .testimonials__body
      p.testimonials__description
        | !{data.desc}
