extends ../templates/default.pug

//- Head
block siteHeader
  -
    navActive = "about";
    siteTitle = 'About';

//- Body
block siteContent
  //- Section Description
  include home/section-description.pug

  //- Features
  include home/features.pug
