-
  data = {
    title: 'Testimonials',
    list: [
      {
        avatar: 'customer-1.png',
        name: 'John Fang',
        position: 'wordfaang.com',
        desc: 'Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.'
      },
      {
        avatar: 'customer-2.png',
        name: 'Jony Doe',
        position: 'UX Engineer',
        desc: 'Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.'
      },
      {
        avatar: 'customer-3.png',
        name: 'William',
        position: 'Web Designer',
        desc: 'Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.'
      }
    ]
  };

include ../../layouts/testimonials.pug
