/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  footer-sosmed-icon: 1,
  footer-sosmed-link: 2,
);
